<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.contest.dao.ContestDao">
<!--    Boolean insertContest(Contest contest);-->
    <insert id="insertContest" parameterType="com.app.contest.entity.Contest">
        insert into tb_contest(contest_name, author, contest_apply_time, contest_apply_end_time,
        contest_address, contact_user, contact_phone, contest_start_time, contest_end_time,
        contest_cooperation, contest_introduce, contest_reward, contest_apply_rule, contest_process,
        contest_info, contest_thumb, publish_time)
        values (#{contestName, jdbcType=VARCHAR}, #{author, jdbcType=VARCHAR}, #{contestApplyTime, jdbcType=TIMESTAMP},
        #{contestApplyEndTime, jdbcType=TIMESTAMP}, #{contestAddress, jdbcType=VARCHAR}, #{contactUser, jdbcType=VARCHAR},
        #{contactPhone, jdbcType=VARCHAR}, #{contestStartTime, jdbcType=TIMESTAMP}, #{contestEndTime, jdbcType=TIMESTAMP},
        #{contestCooperation, jdbcType=VARCHAR}, #{contestIntroduce, jdbcType=LONGVARCHAR},
        #{contestReward, jdbcType=LONGVARCHAR}, #{contestApplyRule, jdbcType=LONGVARCHAR},
        #{contestProcess, jdbcType=LONGVARCHAR}, #{contestInfo, jdbcType=LONGVARCHAR}, #{contestThumb, jdbcType=VARCHAR},
        #{publishTime, jdbcType=TIMESTAMP})
    </insert>

<!--    Boolean updateContest(Contest contest);-->
    <update id="updateContest" parameterType="com.app.contest.entity.Contest">
        update tb_contest
        <set>
            <if test="contestName !=null">contest_name = #{contestName, jdbcType=VARCHAR},</if>
            <if test="author != null">author = #{author, jdbcType=VARCHAR},</if>
            <if test="contestApplyTime != null">contest_apply_time = #{contestApplyTime, jdbcType=TIMESTAMP},</if>
            <if test="contestApplyEndTime != null">contest_apply_end_time = #{contestApplyEndTime, jdbcType=TIMESTAMP},</if>
            <if test="contestAddress != null">contest_address = #{contestAddress, jdbcType=VARCHAR},</if>
            <if test="contactUser != null">contact_user = #{contactUser, jdbcType=VARCHAR},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone, jdbcType=VARCHAR},</if>
            <if test="contestStartTime != null">contest_start_time = #{contestStartTime, jdbcType=TIMESTAMP},</if>
            <if test="contestEndTime != null">contest_end_time = #{contestEndTime, jdbcType=TIMESTAMP},</if>
            <if test="contestCooperation != null">contest_cooperation = #{contestCooperation, jdbcType=VARCHAR},</if>
            <if test="contestIntroduce != null">contest_introduce = #{contestIntroduce, jdbcType=LONGVARCHAR},</if>
            <if test="contestReward != null">contest_reward = #{contestReward, jdbcType=LONGVARCHAR},</if>
            <if test="contestApplyRule != null">contest_apply_rule = #{contestApplyRule, jdbcType=LONGVARCHAR},</if>
            <if test="contestProcess != null">contest_process = #{contestProcess, jdbcType=LONGVARCHAR},</if>
            <if test="contestInfo != null">contest_info = #{contestInfo, jdbcType=LONGVARCHAR},</if>
        </set>
        where contest_id = #{contestId, jdbcType=INTEGER}

    </update>

<!--    List<Contest> getAllContests();-->
    <select id="getAllContests" resultType="com.app.contest.entity.Contest">
        select *
        from tb_contest
    </select>

<!--    Contest getContestContent(Integer contestId);-->
    <select id="getContestContent" resultType="com.app.contest.entity.Contest">
        select *
        from tb_contest
        where contest_id = #{contestId, jdbcType=INTEGER}
    </select>

<!--    Boolean queryApplyResultByContestIdAndOpenId(Integer contestId, String openId);-->
    <select id="queryApplyResultByContestIdAndOpenId" resultType="java.lang.Boolean">
        select apply_result
        from tb_team_members
        where contest_id = #{contestId, jdbcType=INTEGER}
        and open_id = #{openId, jdbcType=VARCHAR}
    </select>

<!--    Integer queryTeamInfoResult(Integer contestId, String openId);-->
    <select id="queryTeamInfoResult" resultType="java.lang.Integer">
        select team_id
        from tb_team
        where contest_id = #{contestId, jdbcType=INTEGER}
          and open_id = #{openId, jdbcType=VARCHAR}
    </select>

<!--    List<String> queryTeamNames(Integer contestId);-->
    <select id="queryTeamNames" resultType="java.util.List">
        select team_name
        from tb_team
        where contest_id = #{contestId, jdbcType=INTEGER}
    </select>

<!--    Integer insertTeamInfo(TeamInfo teamInfo);-->
    <insert id="insertTeamInfo" parameterType="com.app.contest.entity.TeamInfo" useGeneratedKeys="true" keyProperty="teamId">
        insert into tb_team(team_name, open_id, contest_id)
        values (#{teamName, jdbcType=VARCHAR}, #{openId, jdbcType=VARCHAR}, #{contestId, jdbcType=INTEGER})
    </insert>

<!--    Boolean insertContestMembers(List<ContestMember> contestMemberList);-->
    <insert id="insertContestMembers" parameterType="java.util.List">
        insert into tb_team_members(contest_id, team_id, open_id, member_name, member_phone,
        contest_area, member_player_id, member_player_level, contest_other_info, is_team, apply_result)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.contestId, jdbcType=INTEGER},
            #{item.teamId, jdbcType=INTEGER},
            #{item.openId, jdbcType=VARCHAR},
            #{item.memberName, jdbcType=VARCHAR},
            #{item.memberPhone, jdbcType=VARCHAR},
            #{item.contestArea, jdbcType=VARCHAR},
            #{item.memberPlayerId, jdbcType=VARCHAR},
            #{item.memberPlayerLevel, jdbcType=VARCHAR},
            #{item.contestOtherInfo, jdbcType=VARCHAR},
            #{item.isTeam, jdbcType=BOOLEAN},
            #{item.applyResult, jdbcType=BOOLEAN}
            )
        </foreach>
    </insert>

<!--    List<Contest> queryMyContestApply(String openId);-->
    <select id="queryMyContestApply" resultType="com.app.contest.entity.Contest">
        select contest_name, author, contest_apply_time, contest_apply_end_time,
               contest_address, contact_user, contact_phone, contest_start_time, contest_end_time,
               contest_cooperation, contest_introduce, contest_reward, contest_apply_rule, contest_process,
               contest_info, contest_thumb, publish_time
        from tb_contest, tb_team_members
        where tb_contest.contest_id = tb_team_members.contest_id
          and tb_team_members.open_id = #{oepnId, jdbcType=VARCHAR}
    </select>
<!--    List<Contest> getContestByKeyword(String keyword);-->
    <select id="getContestByKeyword" resultType="com.app.contest.entity.Contest">
        select *
        from tb_contest
        where contest_name like "%"#{keyword, jdbcType=VARCHAR}"%"
    </select>

    <!--List<ContestMember> queryMemberByContestId(Integer contestId);-->
    <select id="queryMemberByContestId" resultType="com.app.contest.entity.ContestMember">
        select *
        from tb_team_members
        where contest_id = #{contestId, jdbcType=INTEGER}
    </select>

<!--    Boolean insertIntoMemberResult(List<ContestMember> members);-->
    <insert id="insertIntoMemberResult" parameterType="java.util.List">
        insert into tb_team_members_result(member_id, contest_id, team_id, open_id, member_name, member_phone,
        contest_area, member_player_id, member_player_level, contest_other_info, is_team, apply_result)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.memberId, jdbcType=INTEGER},
            #{item.contestId, jdbcType=INTEGER},
            #{item.teamId, jdbcType=INTEGER},
            #{item.openId, jdbcType=VARCHAR},
            #{item.memberName, jdbcType=VARCHAR},
            #{item.memberPhone, jdbcType=VARCHAR},
            #{item.contestArea, jdbcType=VARCHAR},
            #{item.memberPlayerId, jdbcType=VARCHAR},
            #{item.memberPlayerLevel, jdbcType=VARCHAR},
            #{item.contestOtherInfo, jdbcType=VARCHAR},
            #{item.isTeam, jdbcType=BOOLEAN},
            #{item.applyResult, jdbcType=BOOLEAN}
            )
        </foreach>
    </insert>
<!--    Boolean deleteOriginData(List<ContestMember> delMembers);-->
    <delete id="deleteOriginData" parameterType="java.util.List">
        delete
        from tb_team_members
        where member_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.memberId}
        </foreach>
    </delete>
<!--    List<ContestMember> queryCurrentContestMember(Integer contestId);-->
    <select id="queryCurrentContestMember" resultType="com.app.contest.entity.ContestMember">
        select *
        from tb_team_members_result
        where contest_id = #{contestId, jdbcType=INTEGER}
    </select>
</mapper>